<div class="post-index hidden-sm-down">
  <div class="section-title-line">
    <h4 class="text-uppercase">
      Table of contents
    </h4>
    <hr class="filler-line" />
  </div>
  <div *ngIf="toc.length == 0" role="alert" class="el-alert el-alert--info">
    <div class="el-alert__content">
      Have no Table of contents
      <i class="el-alert__closebtn el-icon-close" style="display: none;"></i>
    </div>
  </div>
  <ul *ngIf="toc.length != 0" class="content-outline list-unstyled">
    <li *ngFor="let heading of toc"
      
      class="content-outline__item content-outline__item--level-{{heading.level}}">
      <a
        href="{{url}}#{{heading.id}}"
        class="link"
        >{{heading.name}}</a
      >
    </li>
  </ul>
</div>
