<div class="post-index hidden-sm-down">
  <div class="section-title-line">
    <h4 class="text-uppercase">
      Table of contents
    </h4>
    <hr class="filler-line" />
  </div>
  <div role="alert" class="el-alert el-alert--info">
    <div class="el-alert__content">
      Have no Table of contents
      <i class="el-alert__closebtn el-icon-close" style="display: none;"></i>
    </div>
  </div>
  <ul class="content-outline list-unstyled">
    <li class="content-outline__item content-outline__item--level-1">
      <a
        href="#_environment-information-anaconda-environment-0"
        class="link active"
        >Environment Information (anaconda Environment)</a
      >
    </li>
    <li class="content-outline__item content-outline__item--level-1">
      <a href="#_deployment-steps-1" class="link">Deployment steps</a>
    </li>
    <li class="content-outline__item content-outline__item--level-2">
      <a href="#_things-need-to-be-prepared-2" class="link"
        >Things need to be prepared</a
      >
    </li>
    <li class="content-outline__item content-outline__item--level-2">
      <a href="#_create-important-files-3" class="link"
        >Create important files</a
      >
    </li>
    <li class="content-outline__item content-outline__item--level-3">
      <a href="#_runtimetxt-4" class="link">・runtime.txt</a>
    </li>
    <li class="content-outline__item content-outline__item--level-3">
      <a href="#_procfile-5" class="link">・Procfile</a>
    </li>
    <li class="content-outline__item content-outline__item--level-3">
      <a href="#_requirementstxt-6" class="link">・requirements.txt</a>
    </li>
    <li class="content-outline__item content-outline__item--level-3">
      <a href="#_gitignore-7" class="link">・.gitignore</a>
    </li>
    <li class="content-outline__item content-outline__item--level-2">
      <a href="#_changeadd-setting-file-8" class="link"
        >Change/Add setting file</a
      >
    </li>
    <li class="content-outline__item content-outline__item--level-3">
      <a href="#_projectnamesettingpy-9" class="link">projectName/setting.py</a>
    </li>
    <li class="content-outline__item content-outline__item--level-3">
      <a href="#_projectnamelocal_settingspy-10" class="link"
        >projectName/local_settings.py</a
      >
    </li>
    <li class="content-outline__item content-outline__item--level-3">
      <a href="#_using-git-11" class="link">Using git</a>
    </li>
    <li class="content-outline__item content-outline__item--level-3">
      <a href="#_lastly-deploy-to-heroku-12" class="link"
        >Lastly, deploy to Heroku</a
      >
    </li>
    <li class="content-outline__item content-outline__item--level-1">
      <a href="#_preference-13" class="link">Preference</a>
    </li>
  </ul>
</div>
