<div id="__nuxt">
  <div id="__layout">
    <div id="app-container" class="dark">
      <app-navbar style="z-index: 9!important" class="sticky-top"></app-navbar>
      <div id="main-content">
        <div class="container py-3">
          <div class="ask-question">
            <form class="el-form error-message--top" [formGroup]="form">
              <div class="el-form-item is-required">
                <div class="el-form-item__content">
                  <div class="el-input">
                    <input type="text" autocomplete="off" placeholder="Title" class="el-input__inner" />
                  </div>
                </div>
              </div>
              <div class="el-form-item is-required">
                <div class="el-form-item__content">
                  <div class="tags-input" tags="">
                    <div class="tags-input__inner el-input__inner">
                      <div aria-haspopup="listbox" role="combobox" aria-owns="el-autocomplete-5190"
                        class="el-autocomplete tags-input__autocomplete">
                        <div class="el-input">
                          <input type="text" autocomplete="off" valuekey="value"
                            placeholder="Tag your question. Maximum 5 tags."
                            fetchsuggestions='function(input,t){return input?Object(l.getTags)({src:"typeahead",q:input}).then(function(t){return t.data}).then(t):t([])}'
                            debounce="300" placement="bottom-start" popperappendtobody="true" class="el-input__inner"
                            role="textbox" aria-autocomplete="list" aria-controls="id"
                            aria-activedescendant="el-autocomplete-5190-item--1" />
                        </div>
                        <div role="region" class="el-autocomplete-suggestion el-popper" style="display: none;">
                          <div class="el-scrollbar">
                            <div
                              class="el-autocomplete-suggestion__wrap el-scrollbar__wrap el-scrollbar__wrap--hidden-default">
                              <ul class="el-scrollbar__view el-autocomplete-suggestion__list" role="listbox"
                                id="el-autocomplete-5190"></ul>
                            </div>
                            <div class="el-scrollbar__bar is-horizontal">
                              <div class="el-scrollbar__thumb" style="transform: translateX(0%);"></div>
                            </div>
                            <div class="el-scrollbar__bar is-vertical">
                              <div class="el-scrollbar__thumb" style="transform: translateY(0%);"></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="el-form-item mt-2 mb-0 is-required">
                <simplemde formControlName="simplemde" [(ngModel)]="customize" [options]="{
                    toolbar: [
                      'bold',
                      'italic',
                      'strikethrough',
                      'heading-1',
                      'heading-2',
                      'heading-3',
                      '|',
                      'code',
                      'quote',
                      'unordered-list',
                      'ordered-list',
                      'table',
                      'horizontal-rule',
                      'clean-block',
                      '|',
                      'link',
                      'image',
                      '|',
                      'preview',
                      'side-by-side',
                      'fullscreen',
                      '|',
                      'undo',
                      'redo',
                      '|',
                      'guide'
                    ]
                  }"></simplemde>
              </div>
            </form>
            <div>
              <button type="button" class="el-button el-button--primary el-button--medium is-plain">
                <span>
                  Create Question
                </span>
              </button>
              <button type="button" class="el-button el-button--default el-button--medium">
                <span>
                  Discard
                </span>
              </button>
            </div>
          </div>
        </div>
      </div>
      <app-footer></app-footer>
    </div>
  </div>
</div>