<div class="comment-form root-comment-form" [class.root-comment-form]="parent == 0">
    <div class="tabs">
      <ul role="tablist" class="tabs__list">
        <li class="tabs__item" (click)="switchTabs()">
          <div class="tabs__link" [class.active]="!switcher">
            Write
          </div>
        </li>
        <li class="tabs__item" (click)="switchTabs()">
          <div class="tabs__link" [class.active]="switcher">
            Preview
          </div>
        </li>
      </ul>
      <div class="tabs__content" [formGroup]="form">
        <div role="tabpanel" class="tab-pane" [ngStyle]="{'display': !switcher ? 'block' : 'none'}">
          <div class="comment-form__write has-avatar">
            <a routerLink="/u/{{ currentUser.username }}" class=""><img data-v-fa4ddde2="" src="../../../assets/default.png"
                class="avatar avatar--md mx-05" /></a>
            <div class="editor-lite" name="comment_contents" placeholder="Write a response..." rows="1">
              <textarea autosize formControlName="content" name="comment_contents" placeholder="Write a response..." rows="4"
                style="overflow-x: hidden; overflow-wrap: break-word;"></textarea>
              <div class="editor-lite__extras">
                <div class="md-help">
                  <button type="button" class="el-button py-05 el-button--text editor-lite__extra-button"
                    tabindex="-1" data-tippy="" data-original-title="Markdown Help">
                    <i class="fa fa-question-circle text-muted"></i>
                  </button>
                </div>
                <button class="editor-lite__extra-button icon-btn dz-clickable" data-tippy=""
                  data-original-title="Drag image or click to attach">
                  <i aria-hidden="true" class="fa fa-image"></i>
                </button>
                <div class="md-help">
                  <span>
                    <div role="tooltip" id="el-popover-7188" aria-hidden="true" class="el-popover el-popper"
                      tabindex="0" style="display: none;"></div>
                    <button type="button"
                      class="el-button py-05 el-button--text editor-lite__extra-button el-popover__reference"
                      title="Emoji Suggestion" tabindex="0" aria-describedby="el-popover-7188">
                      <i class="fa fa-smile-o text-muted"></i></button>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane" [ngStyle]="{'display': switcher ? 'block' : 'none'}">
          <div *ngIf="!formContent" class="text-muted comment-form__preview">
            Nothing to preview!
          </div>
          <markdown [data]="formContent"></markdown>
        </div>
        <div class="comment-form__actions">
          <button *ngIf="commentType == 0" [disabled]="formStatus == 'INVALID'" type="button"
            class="el-button btn btn-sm btn-primary el-button--primary"
            [class.is-disabled]="formStatus == 'INVALID'" (click)='doPostComment()'>
            <span>
              Post Comment
            </span>
          </button>
          <button *ngIf="commentType == 1 || commentType == 2" class="btn btn-sm" (click)="doDiscardEdit(inputComment.id)">
              Discard
          </button>
          <button *ngIf="commentType == 1" [disabled]="formStatus == 'INVALID'" type="button"           class="el-button btn btn-sm btn-primary el-button--primary"
            [class.is-disabled]="formStatus == 'INVALID'" (click)='doEditComment(inputComment.id)'>
            <span>
              Save
            </span>
          </button>
          <button *ngIf="commentType == 2" [disabled]="formStatus == 'INVALID'" type="button"           class="el-button btn btn-sm btn-primary el-button--primary"
            [class.is-disabled]="formStatus == 'INVALID'" (click)='doPostComment()'>
            <span>
              Reply
            </span>
          </button>
        </div>
      </div>
    </div>
  </div>