@keyframes passing-through {
	0% {
		opacity: 0;
		transform: translateY(40px)
	}
	30%,
	70% {
		opacity: 1;
		transform: translateY(0)
	}
	to {
		opacity: 0;
		transform: translateY(-40px)
	}
}

@keyframes slide-in {
	0% {
		opacity: 0;
		transform: translateY(40px)
	}
	30% {
		opacity: 1;
		transform: translateY(0)
	}
}

@keyframes pulse {
	0% {
		transform: scale(1)
	}
	10% {
		transform: scale(1.1)
	}
	20% {
		transform: scale(1)
	}
}

.image-thumbnails {
	max-height: calc(80vh - 250px);
	overflow-y: auto
}

.image-thumbnails .thumbnail {
	display: inline-block
}

.icon_2lDEA {
	min-width: 1.25rem;
	min-height: 1.25rem
}

.icon_2lDEA .emoji {
	padding: 0
}

.name_SKcxF {
	max-width: 200px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis
}

.suggestion-container {
	z-index: 9999;
	max-height: 160px;
	position: absolute;
	background: #fff;
	overflow-y: hidden;
	overflow-x: hidden;
	box-shadow: 0 0 5px rgba(27, 31, 35, .1)
}

.suggestion-container__item {
	display: flex;
	align-items: center;
	height: 32px;
	padding: 5px 10px;
	border-bottom: 1px solid #dfe2e5
}

.suggestion-container__item.active {
	background: #e8f5fd;
	color: #1da1f2;
	cursor: pointer
}

.md-link {
	text-decoration: none!important
}

.md-help-dialog.dialog__wrapper .dialog {
	margin: 20px auto 0
}

.md-help-dialog .md-help-contents {
	overflow: auto;
	max-height: 87vh!important
}

.md-help-dialog table {
	width: 100%
}

.md-help-dialog table td,
.md-help-dialog table th {
	padding: .5rem;
	border: 1px solid #9b9b9b
}

@media (max-width:991.98px) {
	.md-help-dialog .md-help-contents {
		font-size: .8rem
	}
}

.viblo-editor--smde {
	font-family: Open Sans, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol
}

.viblo-editor--smde .CodeMirror-line .cm-comment {
	font-family: SFMono-Regular, Consolas, Ubuntu Mono, Liberation Mono, Menlo, Courier, monospace
}

.viblo-editor--smde .CodeMirror-placeholder {
	font-family: FontAwesome, Open Sans, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}

.viblo-editor--smde .CodeMirror-fullscreen,
.viblo-editor--smde .editor-preview-side,
.viblo-editor--smde .editor-toolbar.fullscreen {
	z-index: 1100!important
}

.viblo-editor--smde .editor-statusbar {
	font-weight: 700;
	color: #0b1a33
}

.viblo-editor--smde .editor-preview,
.viblo-editor--smde .editor-preview-side {
	font-family: Open Sans, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
	line-height: inherit
}

.viblo-editor--smde .editor-preview-side p,
.viblo-editor--smde .editor-preview p {
	margin-bottom: 1rem
}

.viblo-editor--smde .CodeMirror-fullscreen,
.viblo-editor--smde .editor-preview-side,
.viblo-editor--smde .editor-toolbar.fullscreen {
	z-index: 1100
}

.el-form-item.smde-editor-inside .el-form-item__error {
	top: -25px
}

.el-form-item.smde-editor-inside .el-form-item__content {
	line-height: inherit
}

.is-error .viblo-editor--smde .CodeMirror,
.is-error .viblo-editor--smde .editor-toolbar {
	border-color: #f56c6c
}

.is-error .viblo-editor--smde .CodeMirror {
	border-top-color: #ddd
}

.editor-preview-side>pre {
	background: #2d2d2d
}

.company-selector {
	display: flex;
	flex-direction: column;
	max-height: 256px;
	overflow-y: auto;
	overflow-x: hidden
}

.company-selector .company-item .text-ellipsis {
	max-width: 245px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: inline
}

.company-selector .company-item .el-radio__label {
	flex: 1
}

.publish-popover .el-popover {
	min-width: 305px;
	text-align: left
}

.publish-popover .visibility-explain {
	font-size: .8rem
}

.feature-image-popover .image-preview {
	display: inline-block;
	width: 100%;
	height: 150px;
	overflow: hidden;
	background-size: cover;
	background-position: 50%;
	background-repeat: no-repeat;
	margin-top: 1rem;
	border: 1px solid #ececec
}

.uploaded-list .el-table .video__thumbnail {
	max-width: 100%;
	height: auto
}

.uploaded-list .el-table .row--not-ready {
	background-color: #f3e3b3
}

.uploaded-list .el-table .row--success {
	background-color: inherit
}

.uploaded-list .el-table .row--queue {
	background-color: #b8bcbf
}

.uploaded-list .el-table .row--error {
	background-color: #f1acac
}

.uploaded-list .el-table .row--failed {
	background-color: #b8bcbf
}

body {
	padding-right: 0!important
}

.viblo-status__progress {
	width: 45%
}

.post-publish .CodeMirror {
	height: calc(100vh - 304px)
}

.post-publish .tags-input {
	width: 100%
}

.post-publish .publish-button {
	height: 40px
}

.episode[data-v-610b5e24] {
	display: flex;
	align-items: flex-start;
	padding: .5rem .5rem .5rem 2rem
}

.episode--muted[data-v-610b5e24] {
	background: #d3d3d3;
	opacity: .5
}

.episode .handle[data-v-610b5e24] {
	color: #9b9b9b;
	cursor: move
}

.episode .handle[data-v-610b5e24]:hover {
	color: #5488c7
}

.episode .menu[data-v-610b5e24] {
	margin-left: auto
}

.ghost[data-v-610b5e24] {
	opacity: .5;
	border: 0 solid #dbe3e8;
	border-width: 1px 0
}

.series-editor-add-posts .modal-dialog {
	max-width: 95vw;
	width: 1100px
}

.series-editor-add-posts .modal-body {
	padding: 0 15px
}

.series-editor-add-posts .modal-footer {
	padding: 10px;
	justify-content: center
}

.series-editor-add-posts .list-group-item {
	cursor: pointer
}

.episodes-editor .add-post span {
	margin-left: 2rem;
	cursor: pointer;
	transition: color .25s
}

.episodes-editor .add-post span:hover {
	color: #5488c7
}

