<div id="__layout">
  <div id="app-container" class="default">
    <app-navbar class="sticky-top"></app-navbar>
    <div id="main-content">
      <div>
        <app-promo-banner></app-promo-banner>
        <app-question-feed-links [currRoute]="'newest'"></app-question-feed-links>

        <div class="container">
          <div class="row pt-3 pb-1">
            <div class="col-lg-9">
              <app-post-feed [posts]="newestPost"></app-post-feed>
              <app-pagination *ngIf="newestPost.length != 0" [currRoute]="'newest'" [previousPage]="previousPage" [nextPage]="nextPage" [numPages]='numPages' [currPage]="currPage"></app-pagination>
            </div>
            <div class="col-lg-3 hidden-md-down">
              <app-post-suggestion></app-post-suggestion>
            </div>
          </div>
        </div>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
</div>