<!-- Comment section -->
<div class="bg-light">
  <div class="container py-2">
    <div class="post-comments">
      <h3 class="mb-2"><strong>Comments</strong></h3>
      <div class="comment-threads">
        <div class="comment-form root-comment-form">
          <div class="tabs">
            <ul role="tablist" class="tabs__list">
              <li class="tabs__item">
                <div class="tabs__link active">
                  Write
                </div>
              </li>
              <li class="tabs__item">
                <div class="tabs__link">
                  Preview
                </div>
              </li>
            </ul>
            <div class="tabs__content">
              <div role="tabpanel" class="tab-pane">
                <div class="comment-form__write has-avatar">
                  <a href="/u/quyctd" class=""><img data-v-fa4ddde2="" src="../../../assets/default.png"
                      class="avatar avatar--md mx-05" /></a>
                  <div class="editor-lite" name="comment_contents" placeholder="Write a response..." rows="1">
                    <textarea name="comment_contents" placeholder="Write a response..." rows="1"
                      style="overflow-x: hidden; overflow-wrap: break-word; height: 120px;"></textarea>
                    <div class="editor-lite__extras">
                      <div class="md-help">
                        <button type="button" class="el-button py-05 el-button--text editor-lite__extra-button"
                          tabindex="-1" data-tippy="" data-original-title="Markdown Help">
                          <i class="fa fa-question-circle text-muted"></i>
                        </button>
                      </div>
                      <button class="editor-lite__extra-button icon-btn dz-clickable" data-tippy=""
                        data-original-title="Drag image or click to attach">
                        <i aria-hidden="true" class="fa fa-image"></i>
                      </button>
                      <div class="md-help">
                        <span>
                          <div role="tooltip" id="el-popover-7188" aria-hidden="true" class="el-popover el-popper"
                            tabindex="0" style="display: none;"></div>
                          <button type="button"
                            class="el-button py-05 el-button--text editor-lite__extra-button el-popover__reference"
                            title="Emoji Suggestion" tabindex="0" aria-describedby="el-popover-7188">
                            <i class="fa fa-smile-o text-muted"></i></button>
                        </span>
                      </div>
                    </div>
                    <div class="suggestion-container" style="display: none; top: 0px; left: 0px;"></div>
                  </div>
                </div>
              </div>
              <div role="tabpanel" class="tab-pane" style="display: none;">
                <div class="text-muted comment-form__preview">
                  Nothing to preview!
                </div>
              </div>
              <div class="comment-form__actions">
                <button disabled="disabled" type="button"
                  class="el-button btn btn-sm btn-primary el-button--primary is-disabled">
                  <span>
                    Post Comment
                  </span>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf='false' class="card card-block text-sm-center">
          <span class="card-text text-muted mt-05 mb-05"><i aria-hidden="true" class="fa fa-comment-o"></i>
            No comments, yet.
          </span>
        </div>
        <div class="list-transition">
          <div data-commentid="jy5VE0r23lr" class="comment-thread root">
            <header class="d-flex flex-wrap justify-content-between mb-05">
              <div class="user--inline d-inline-flex flex-shrink-0">
                <a href="/u/quyctd" class="mr-05">
                  <div class="d-inline-block">
                    <img data-v-fa4ddde2="" src="../../../assets/default.png" class="avatar avatar--xs"
                      srcset="../../../assets/default.png" /></div>
                </a>
                <span>
                  <div role="tooltip" id="el-popover-3890" aria-hidden="true" class="el-popover el-popper" tabindex="0"
                    style="width: 350px; display: none;">
                    <!---->
                    <div class="popover-usercard">
                      <div align="center">
                        <i aria-hidden="true" class="el-icon-loading"></i>
                      </div>
                    </div>
                  </div>
                  <a href="/u/quyctd" class="mr-05 el-popover__reference" aria-describedby="el-popover-3890"
                    tabindex="0">
                    Quý Đinh
                  </a>
                </span>
                <span class="text-muted mr-05">
                  @quyctd
                </span>
              </div>
              <div class="comment-meta word-break">
                <span class="text-muted">1 minute ago</span>
              </div>
            </header>
            <div class="md-contents mb-05">
              <p>first comment</p>
            </div>
            <footer class="d-flex text-muted">
              <div data-v-887f1afe="" class="score">
                <button data-v-887f1afe="" class="icon-btn vote disabled" data-tippy=""
                  data-original-title="You cannot vote your own comment">
                  <i data-v-887f1afe="" aria-hidden="true" class="fa fa-chevron-up"></i>
                </button>
                <span data-v-887f1afe="" class="comment-points text-muted">
                  0
                </span>
                <button data-v-887f1afe="" class="icon-btn vote disabled" data-tippy=""
                  data-original-title="You cannot vote your own comment">
                  <i data-v-887f1afe="" aria-hidden="true" class="fa fa-chevron-down"></i>
                </button>
              </div>
              <span class="text-muted mx-05">|</span>
              <a class="mr-05 cursor-pointer" data-tippy="" data-original-title="Reply"><span>Reply</span></a>
              <div data-v-1b24b101="" class="relative mr-05 cursor-pointer">
                <a data-v-1b24b101="" href="https://viblo.asia/c/jy5VE0r23lr" class="icon-share link plain text-muted"
                  data-tippy="" data-original-title="Share a link to this comment"><span
                    data-v-1b24b101="">Share</span></a>
                <div data-v-1b24b101="" class="share-tip" style="display: none;">
                  <label data-v-1b24b101="" class="tip-label">Share a link to this comment</label>
                  <div data-v-1b24b101="" class="d-flex share-input-group">
                    <input data-v-1b24b101="" data-sharing-id="comment-jy5VE0r23lr" type="text" readonly="readonly"
                      class="d-block share-link" />
                    <span data-v-1b24b101="" data-clipboard-text="https://viblo.asia/c/jy5VE0r23lr"
                      data-clipboard-target="[data-sharing-id='comment-jy5VE0r23lr']" area-label="Copied!"
                      area-tooltip-hidden="true" title="Copy link" class="share-link-addon viblo-tooltip"><i
                        data-v-1b24b101="" class="fa fa-copy"></i></span>
                  </div>
                  <div data-v-a12f229c="" data-v-1b24b101=""
                    class="social-sharing social-sharing-icons social-sharing--vertical social-sharing--small">
                    <a data-v-1b24b101="" data-v-a12f229c=""
                      href="http://www.facebook.com/sharer.php?u=https%3A%2F%2Fviblo.asia%2Fc%2Fjy5VE0r23lr&amp;title=Comment%20on%20answer"
                      target="_blank" class="link social-btn-circle facebook-btn"><i data-v-1b24b101=""
                        data-v-a12f229c="" aria-hidden="true" class="fa fa-facebook"></i></a>
                    <a data-v-1b24b101="" data-v-a12f229c=""
                      href="https://twitter.com/intent/tweet?url=https://viblo.asia/c/jy5VE0r23lr&amp;text=Comment%20on%20answer&amp;hashtags="
                      target="_blank" class="link social-btn-circle twitter-btn"><i data-v-1b24b101=""
                        data-v-a12f229c="" aria-hidden="true" class="fa fa-twitter"></i></a>
                    <a data-v-1b24b101="" data-v-a12f229c=""
                      href="https://plus.google.com/share?url=https%3A%2F%2Fviblo.asia%2Fc%2Fjy5VE0r23lr"
                      target="_blank" class="link social-btn-circle google-btn"><i data-v-1b24b101="" data-v-a12f229c=""
                        aria-hidden="true" class="fa fa-google-plus"></i></a>
                  </div>
                  <div data-v-1b24b101="" class="d-flex" style="justify-content: flex-end;">
                    <span data-v-1b24b101="" class="close-share-tip">
                      Close
                    </span>
                  </div>
                </div>
              </div>
              <div class="comment-menu ml-05 el-dropdown">
                <span class="cursor-pointer el-dropdown-selfdefine" data-tippy=""
                  data-original-title="Show more actions" aria-haspopup="list" aria-controls="dropdown-menu-5478"
                  role="button" tabindex="0"><i class=" v-menu-icon--small fas fa-ellipsis-h"></i></span>
                <ul class="el-dropdown-menu el-popper" id="dropdown-menu-5478" style="display: none;">
                  <li tabindex="-1" class="el-dropdown-menu__item">
                    <i aria-hidden="true" class="fa fa-pencil pr-0 mr-05"></i>
                    Edit
                  </li>
                  <!---->
                  <li tabindex="-1" class="el-dropdown-menu__item">
                    <i aria-hidden="true" class="fa fa-trash pr-0 mr-05"></i>
                    Delete this comment
                  </li>
                  <!---->
                  <li tabindex="-1" class="el-dropdown-menu__item el-dropdown-menu__item--divided">
                    <i class="fa fa-magic pr-0 mr-05"></i>
                    Highlighting code blocks
                  </li>
                </ul>
              </div>
            </footer>
            <!---->
            <div class="list-transition">
              <div data-commentid="4x5xexyqqKB" class="comment-thread reply">
                <header class="d-flex flex-wrap justify-content-between mb-05">
                  <div class="user--inline d-inline-flex flex-shrink-0">
                    <a href="/u/quyctd" class="mr-05">
                      <div class="d-inline-block">
                        <img data-v-fa4ddde2="" src="../../../assets/default.png" class="avatar avatar--xs"
                          srcset="../../../assets/default.png" /></div>
                    </a>
                    <span>
                      <div role="tooltip" id="el-popover-1633" aria-hidden="true" class="el-popover el-popper"
                        tabindex="0" style="width: 350px; display: none;">
                        <!---->
                        <div class="popover-usercard">
                          <div align="center">
                            <i aria-hidden="true" class="el-icon-loading"></i>
                          </div>
                        </div>
                      </div>
                      <a href="/u/quyctd" class="mr-05 el-popover__reference" aria-describedby="el-popover-1633"
                        tabindex="0">
                        Quý Đinh
                      </a>
                    </span>
                    <span class="text-muted mr-05">
                      @quyctd
                    </span>
                  </div>
                  <div class="comment-meta word-break">
                    <span class="text-muted">1 minute ago</span>
                  </div>
                </header>
                <div class="md-contents mb-05">
                  <p>reply first comment</p>
                </div>
                <footer class="d-flex text-muted">
                  <div data-v-887f1afe="" class="score">
                    <button data-v-887f1afe="" class="icon-btn vote disabled" data-tippy=""
                      data-original-title="You cannot vote your own comment">
                      <i data-v-887f1afe="" aria-hidden="true" class="fa fa-chevron-up"></i>
                    </button>
                    <span data-v-887f1afe="" class="comment-points text-muted">
                      0
                    </span>
                    <button data-v-887f1afe="" class="icon-btn vote disabled" data-tippy=""
                      data-original-title="You cannot vote your own comment">
                      <i data-v-887f1afe="" aria-hidden="true" class="fa fa-chevron-down"></i>
                    </button>
                  </div>
                  <span class="text-muted mx-05">|</span>
                  <a class="mr-05 cursor-pointer" data-tippy="" data-original-title="Reply"><span>Reply</span></a>
                  <div data-v-1b24b101="" class="relative mr-05 cursor-pointer">
                    <a data-v-1b24b101="" href="https://viblo.asia/c/4x5xexyqqKB"
                      class="icon-share link plain text-muted" data-tippy=""
                      data-original-title="Share a link to this comment"><span data-v-1b24b101="">Share</span></a>
                    <div data-v-1b24b101="" class="share-tip" style="display: none;">
                      <label data-v-1b24b101="" class="tip-label">Share a link to this comment</label>
                      <div data-v-1b24b101="" class="d-flex share-input-group">
                        <input data-v-1b24b101="" data-sharing-id="comment-4x5xexyqqKB" type="text" readonly="readonly"
                          class="d-block share-link" />
                        <span data-v-1b24b101="" data-clipboard-text="https://viblo.asia/c/4x5xexyqqKB"
                          data-clipboard-target="[data-sharing-id='comment-4x5xexyqqKB']" area-label="Copied!"
                          area-tooltip-hidden="true" title="Copy link" class="share-link-addon viblo-tooltip"><i
                            data-v-1b24b101="" class="fa fa-copy"></i></span>
                      </div>
                      <div data-v-a12f229c="" data-v-1b24b101=""
                        class="social-sharing social-sharing-icons social-sharing--vertical social-sharing--small">
                        <a data-v-1b24b101="" data-v-a12f229c=""
                          href="http://www.facebook.com/sharer.php?u=https%3A%2F%2Fviblo.asia%2Fc%2F4x5xexyqqKB&amp;title=Comment%20on%20answer"
                          target="_blank" class="link social-btn-circle facebook-btn"><i data-v-1b24b101=""
                            data-v-a12f229c="" aria-hidden="true" class="fa fa-facebook"></i></a>
                        <a data-v-1b24b101="" data-v-a12f229c=""
                          href="https://twitter.com/intent/tweet?url=https://viblo.asia/c/4x5xexyqqKB&amp;text=Comment%20on%20answer&amp;hashtags="
                          target="_blank" class="link social-btn-circle twitter-btn"><i data-v-1b24b101=""
                            data-v-a12f229c="" aria-hidden="true" class="fa fa-twitter"></i></a>
                        <a data-v-1b24b101="" data-v-a12f229c=""
                          href="https://plus.google.com/share?url=https%3A%2F%2Fviblo.asia%2Fc%2F4x5xexyqqKB"
                          target="_blank" class="link social-btn-circle google-btn"><i data-v-1b24b101=""
                            data-v-a12f229c="" aria-hidden="true" class="fa fa-google-plus"></i></a>
                      </div>
                      <div data-v-1b24b101="" class="d-flex" style="justify-content: flex-end;">
                        <span data-v-1b24b101="" class="close-share-tip">
                          Close
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="comment-menu ml-05 el-dropdown">
                    <span class="cursor-pointer el-dropdown-selfdefine" data-tippy=""
                      data-original-title="Show more actions" aria-haspopup="list" aria-controls="dropdown-menu-50"
                      role="button" tabindex="0"><i class=" v-menu-icon--small fas fa-ellipsis-h"></i></span>
                    <ul class="el-dropdown-menu el-popper" id="dropdown-menu-50" style="display: none;">
                      <li tabindex="-1" class="el-dropdown-menu__item">
                        <i aria-hidden="true" class="fa fa-pencil pr-0 mr-05"></i>
                        Edit
                      </li>
                      <!---->
                      <li tabindex="-1" class="el-dropdown-menu__item">
                        <i aria-hidden="true" class="fa fa-trash pr-0 mr-05"></i>
                        Delete this comment
                      </li>
                      <!---->
                      <li tabindex="-1" class="el-dropdown-menu__item el-dropdown-menu__item--divided">
                        <i class="fa fa-magic pr-0 mr-05"></i>
                        Highlighting code blocks
                      </li>
                    </ul>
                  </div>
                </footer>
                <!---->
                <div class="list-transition">
                  <div data-commentid="OVlYx3d0VZ8" class="comment-thread reply">
                    <header class="d-flex flex-wrap justify-content-between mb-05">
                      <div class="user--inline d-inline-flex flex-shrink-0">
                        <a href="/u/quyctd" class="mr-05">
                          <div class="d-inline-block">
                            <img data-v-fa4ddde2="" src="../../../assets/default.png" class="avatar avatar--xs"
                              srcset="../../../assets/default.png" /></div>
                        </a>
                        <span>
                          <div role="tooltip" id="el-popover-4693" aria-hidden="true" class="el-popover el-popper"
                            tabindex="0" style="width: 350px; display: none;">
                            <!---->
                            <div class="popover-usercard">
                              <div align="center">
                                <i aria-hidden="true" class="el-icon-loading"></i>
                              </div>
                            </div>
                          </div>
                          <a href="/u/quyctd" class="mr-05 el-popover__reference" aria-describedby="el-popover-4693"
                            tabindex="0">
                            Quý Đinh
                          </a>
                        </span>
                        <span class="text-muted mr-05">
                          @quyctd
                        </span>
                      </div>
                      <div class="comment-meta word-break">
                        <span class="text-muted">less than a minute ago</span>
                      </div>
                    </header>
                    <div class="md-contents mb-05">
                      <p>reply of reply first</p>
                    </div>
                    <footer class="d-flex text-muted">
                      <div data-v-887f1afe="" class="score">
                        <button data-v-887f1afe="" class="icon-btn vote disabled" data-tippy=""
                          data-original-title="You cannot vote your own comment">
                          <i data-v-887f1afe="" aria-hidden="true" class="fa fa-chevron-up"></i>
                        </button>
                        <span data-v-887f1afe="" class="comment-points text-muted">
                          0
                        </span>
                        <button data-v-887f1afe="" class="icon-btn vote disabled" data-tippy=""
                          data-original-title="You cannot vote your own comment">
                          <i data-v-887f1afe="" aria-hidden="true" class="fa fa-chevron-down"></i>
                        </button>
                      </div>
                      <span class="text-muted mx-05">|</span>
                      <a class="mr-05 cursor-pointer" data-tippy="" data-original-title="Reply"><span>Reply</span></a>
                      <div data-v-1b24b101="" class="relative mr-05 cursor-pointer">
                        <a data-v-1b24b101="" href="https://viblo.asia/c/OVlYx3d0VZ8"
                          class="icon-share link plain text-muted" data-tippy=""
                          data-original-title="Share a link to this comment"><span data-v-1b24b101="">Share</span></a>
                        <div data-v-1b24b101="" class="share-tip" style="display: none;">
                          <label data-v-1b24b101="" class="tip-label">Share a link to this comment</label>
                          <div data-v-1b24b101="" class="d-flex share-input-group">
                            <input data-v-1b24b101="" data-sharing-id="comment-OVlYx3d0VZ8" type="text"
                              readonly="readonly" class="d-block share-link" />
                            <span data-v-1b24b101="" data-clipboard-text="https://viblo.asia/c/OVlYx3d0VZ8"
                              data-clipboard-target="[data-sharing-id='comment-OVlYx3d0VZ8']" area-label="Copied!"
                              area-tooltip-hidden="true" title="Copy link" class="share-link-addon viblo-tooltip"><i
                                data-v-1b24b101="" class="fa fa-copy"></i></span>
                          </div>
                          <div data-v-a12f229c="" data-v-1b24b101=""
                            class="social-sharing social-sharing-icons social-sharing--vertical social-sharing--small">
                            <a data-v-1b24b101="" data-v-a12f229c=""
                              href="http://www.facebook.com/sharer.php?u=https%3A%2F%2Fviblo.asia%2Fc%2FOVlYx3d0VZ8&amp;title=Comment%20on%20answer"
                              target="_blank" class="link social-btn-circle facebook-btn"><i data-v-1b24b101=""
                                data-v-a12f229c="" aria-hidden="true" class="fa fa-facebook"></i></a>
                            <a data-v-1b24b101="" data-v-a12f229c=""
                              href="https://twitter.com/intent/tweet?url=https://viblo.asia/c/OVlYx3d0VZ8&amp;text=Comment%20on%20answer&amp;hashtags="
                              target="_blank" class="link social-btn-circle twitter-btn"><i data-v-1b24b101=""
                                data-v-a12f229c="" aria-hidden="true" class="fa fa-twitter"></i></a>
                            <a data-v-1b24b101="" data-v-a12f229c=""
                              href="https://plus.google.com/share?url=https%3A%2F%2Fviblo.asia%2Fc%2FOVlYx3d0VZ8"
                              target="_blank" class="link social-btn-circle google-btn"><i data-v-1b24b101=""
                                data-v-a12f229c="" aria-hidden="true" class="fa fa-google-plus"></i></a>
                          </div>
                          <div data-v-1b24b101="" class="d-flex" style="justify-content: flex-end;">
                            <span data-v-1b24b101="" class="close-share-tip">
                              Close
                            </span>
                          </div>
                        </div>
                      </div>
                      <div class="comment-menu ml-05 el-dropdown">
                        <span class="cursor-pointer el-dropdown-selfdefine" data-tippy=""
                          data-original-title="Show more actions" aria-haspopup="list"
                          aria-controls="dropdown-menu-2560" role="button" tabindex="0"><i
                            class=" v-menu-icon--small fas fa-ellipsis-h"></i></span>
                        <ul class="el-dropdown-menu el-popper" id="dropdown-menu-2560" style="display: none;">
                          <li tabindex="-1" class="el-dropdown-menu__item">
                            <i aria-hidden="true" class="fa fa-pencil pr-0 mr-05"></i>
                            Edit
                          </li>
                          <!---->
                          <li tabindex="-1" class="el-dropdown-menu__item">
                            <i aria-hidden="true" class="fa fa-trash pr-0 mr-05"></i>
                            Delete this comment
                          </li>
                          <!---->
                          <li tabindex="-1" class="el-dropdown-menu__item el-dropdown-menu__item--divided">
                            <i class="fa fa-magic pr-0 mr-05"></i>
                            Highlighting code blocks
                          </li>
                        </ul>
                      </div>
                    </footer>
                    <!---->
                    <div class="list-transition"></div>
                    <!---->
                  </div>
                </div>
                <!---->
              </div>
            </div>
            <!---->
          </div>
          <div data-commentid="eVKBzEYjrKk" class="comment-thread root">
            <header class="d-flex flex-wrap justify-content-between mb-05">
              <div class="user--inline d-inline-flex flex-shrink-0">
                <a href="/u/quyctd" class="mr-05">
                  <div class="d-inline-block">
                    <img data-v-fa4ddde2="" src="../../../assets/default.png" class="avatar avatar--xs"
                      srcset="../../../assets/default.png" /></div>
                </a>
                <span>
                  <div role="tooltip" id="el-popover-5412" aria-hidden="true" class="el-popover el-popper" tabindex="0"
                    style="width: 350px; display: none;">
                    <!---->
                    <div class="popover-usercard">
                      <div align="center">
                        <i aria-hidden="true" class="el-icon-loading"></i>
                      </div>
                    </div>
                  </div>
                  <a href="/u/quyctd" class="mr-05 el-popover__reference" aria-describedby="el-popover-5412"
                    tabindex="0">
                    Quý Đinh
                  </a>
                </span>
                <span class="text-muted mr-05">
                  @quyctd
                </span>
              </div>
              <div class="comment-meta word-break">
                <span class="text-muted">1 minute ago</span>
              </div>
            </header>
            <div class="md-contents mb-05">
              <p>second comment</p>
            </div>
            <footer class="d-flex text-muted">
              <div data-v-887f1afe="" class="score">
                <button data-v-887f1afe="" class="icon-btn vote disabled" data-tippy=""
                  data-original-title="You cannot vote your own comment">
                  <i data-v-887f1afe="" aria-hidden="true" class="fa fa-chevron-up"></i>
                </button>
                <span data-v-887f1afe="" class="comment-points text-muted">
                  0
                </span>
                <button data-v-887f1afe="" class="icon-btn vote disabled" data-tippy=""
                  data-original-title="You cannot vote your own comment">
                  <i data-v-887f1afe="" aria-hidden="true" class="fa fa-chevron-down"></i>
                </button>
              </div>
              <span class="text-muted mx-05">|</span>
              <a class="mr-05 cursor-pointer" data-tippy="" data-original-title="Reply"><span>Reply</span></a>
              <div data-v-1b24b101="" class="relative mr-05 cursor-pointer">
                <a data-v-1b24b101="" href="https://viblo.asia/c/eVKBzEYjrKk" class="icon-share link plain text-muted"
                  data-tippy="" data-original-title="Share a link to this comment"><span
                    data-v-1b24b101="">Share</span></a>
                <div data-v-1b24b101="" class="share-tip" style="display: none;">
                  <label data-v-1b24b101="" class="tip-label">Share a link to this comment</label>
                  <div data-v-1b24b101="" class="d-flex share-input-group">
                    <input data-v-1b24b101="" data-sharing-id="comment-eVKBzEYjrKk" type="text" readonly="readonly"
                      class="d-block share-link" />
                    <span data-v-1b24b101="" data-clipboard-text="https://viblo.asia/c/eVKBzEYjrKk"
                      data-clipboard-target="[data-sharing-id='comment-eVKBzEYjrKk']" area-label="Copied!"
                      area-tooltip-hidden="true" title="Copy link" class="share-link-addon viblo-tooltip"><i
                        data-v-1b24b101="" class="fa fa-copy"></i></span>
                  </div>
                  <div data-v-a12f229c="" data-v-1b24b101=""
                    class="social-sharing social-sharing-icons social-sharing--vertical social-sharing--small">
                    <a data-v-1b24b101="" data-v-a12f229c=""
                      href="http://www.facebook.com/sharer.php?u=https%3A%2F%2Fviblo.asia%2Fc%2FeVKBzEYjrKk&amp;title=Comment%20on%20answer"
                      target="_blank" class="link social-btn-circle facebook-btn"><i data-v-1b24b101=""
                        data-v-a12f229c="" aria-hidden="true" class="fa fa-facebook"></i></a>
                    <a data-v-1b24b101="" data-v-a12f229c=""
                      href="https://twitter.com/intent/tweet?url=https://viblo.asia/c/eVKBzEYjrKk&amp;text=Comment%20on%20answer&amp;hashtags="
                      target="_blank" class="link social-btn-circle twitter-btn"><i data-v-1b24b101=""
                        data-v-a12f229c="" aria-hidden="true" class="fa fa-twitter"></i></a>
                    <a data-v-1b24b101="" data-v-a12f229c=""
                      href="https://plus.google.com/share?url=https%3A%2F%2Fviblo.asia%2Fc%2FeVKBzEYjrKk"
                      target="_blank" class="link social-btn-circle google-btn"><i data-v-1b24b101="" data-v-a12f229c=""
                        aria-hidden="true" class="fa fa-google-plus"></i></a>
                  </div>
                  <div data-v-1b24b101="" class="d-flex" style="justify-content: flex-end;">
                    <span data-v-1b24b101="" class="close-share-tip">
                      Close
                    </span>
                  </div>
                </div>
              </div>
              <div class="comment-menu ml-05 el-dropdown">
                <span class="cursor-pointer el-dropdown-selfdefine" data-tippy=""
                  data-original-title="Show more actions" aria-haspopup="list" aria-controls="dropdown-menu-4375"
                  role="button" tabindex="0"><i class=" v-menu-icon--small fas fa-ellipsis-h"></i></span>
                <ul class="el-dropdown-menu el-popper" id="dropdown-menu-4375" style="display: none;">
                  <li tabindex="-1" class="el-dropdown-menu__item">
                    <i aria-hidden="true" class="fa fa-pencil pr-0 mr-05"></i>
                    Edit
                  </li>
                  <!---->
                  <li tabindex="-1" class="el-dropdown-menu__item">
                    <i aria-hidden="true" class="fa fa-trash pr-0 mr-05"></i>
                    Delete this comment
                  </li>
                  <!---->
                  <li tabindex="-1" class="el-dropdown-menu__item el-dropdown-menu__item--divided">
                    <i class="fa fa-magic pr-0 mr-05"></i>
                    Highlighting code blocks
                  </li>
                </ul>
              </div>
            </footer>
            <!---->
            <div class="list-transition">
              <div data-commentid="Q75wMPyNJZW" class="comment-thread reply">
                <header class="d-flex flex-wrap justify-content-between mb-05">
                  <div class="user--inline d-inline-flex flex-shrink-0">
                    <a href="/u/quyctd" class="mr-05">
                      <div class="d-inline-block">
                        <img data-v-fa4ddde2="" src="../../../assets/default.png" class="avatar avatar--xs"
                          srcset="../../../assets/default.png" /></div>
                    </a>
                    <span>
                      <div role="tooltip" id="el-popover-1225" aria-hidden="true" class="el-popover el-popper"
                        tabindex="0" style="width: 350px; display: none;">
                        <!---->
                        <div class="popover-usercard">
                          <div align="center">
                            <i aria-hidden="true" class="el-icon-loading"></i>
                          </div>
                        </div>
                      </div>
                      <a href="/u/quyctd" class="mr-05 el-popover__reference" aria-describedby="el-popover-1225"
                        tabindex="0">
                        Quý Đinh
                      </a>
                    </span>
                    <span class="text-muted mr-05">
                      @quyctd
                    </span>
                  </div>
                  <div class="comment-meta word-break">
                    <span class="text-muted">less than a minute ago</span>
                  </div>
                </header>
                <div class="md-contents mb-05">
                  <p>reply second comment</p>
                </div>
                <footer class="d-flex text-muted">
                  <div data-v-887f1afe="" class="score">
                    <button data-v-887f1afe="" class="icon-btn vote disabled" data-tippy=""
                      data-original-title="You cannot vote your own comment">
                      <i data-v-887f1afe="" aria-hidden="true" class="fa fa-chevron-up"></i>
                    </button>
                    <span data-v-887f1afe="" class="comment-points text-muted">
                      0
                    </span>
                    <button data-v-887f1afe="" class="icon-btn vote disabled" data-tippy=""
                      data-original-title="You cannot vote your own comment">
                      <i data-v-887f1afe="" aria-hidden="true" class="fa fa-chevron-down"></i>
                    </button>
                  </div>
                  <span class="text-muted mx-05">|</span>
                  <a class="mr-05 cursor-pointer" data-tippy="" data-original-title="Reply"><span>Reply</span></a>
                  <div data-v-1b24b101="" class="relative mr-05 cursor-pointer">
                    <a data-v-1b24b101="" href="https://viblo.asia/c/Q75wMPyNJZW"
                      class="icon-share link plain text-muted" data-tippy=""
                      data-original-title="Share a link to this comment"><span data-v-1b24b101="">Share</span></a>
                    <div data-v-1b24b101="" class="share-tip" style="display: none;">
                      <label data-v-1b24b101="" class="tip-label">Share a link to this comment</label>
                      <div data-v-1b24b101="" class="d-flex share-input-group">
                        <input data-v-1b24b101="" data-sharing-id="comment-Q75wMPyNJZW" type="text" readonly="readonly"
                          class="d-block share-link" />
                        <span data-v-1b24b101="" data-clipboard-text="https://viblo.asia/c/Q75wMPyNJZW"
                          data-clipboard-target="[data-sharing-id='comment-Q75wMPyNJZW']" area-label="Copied!"
                          area-tooltip-hidden="true" title="Copy link" class="share-link-addon viblo-tooltip"><i
                            data-v-1b24b101="" class="fa fa-copy"></i></span>
                      </div>
                      <div data-v-a12f229c="" data-v-1b24b101=""
                        class="social-sharing social-sharing-icons social-sharing--vertical social-sharing--small">
                        <a data-v-1b24b101="" data-v-a12f229c=""
                          href="http://www.facebook.com/sharer.php?u=https%3A%2F%2Fviblo.asia%2Fc%2FQ75wMPyNJZW&amp;title=Comment%20on%20answer"
                          target="_blank" class="link social-btn-circle facebook-btn"><i data-v-1b24b101=""
                            data-v-a12f229c="" aria-hidden="true" class="fa fa-facebook"></i></a>
                        <a data-v-1b24b101="" data-v-a12f229c=""
                          href="https://twitter.com/intent/tweet?url=https://viblo.asia/c/Q75wMPyNJZW&amp;text=Comment%20on%20answer&amp;hashtags="
                          target="_blank" class="link social-btn-circle twitter-btn"><i data-v-1b24b101=""
                            data-v-a12f229c="" aria-hidden="true" class="fa fa-twitter"></i></a>
                        <a data-v-1b24b101="" data-v-a12f229c=""
                          href="https://plus.google.com/share?url=https%3A%2F%2Fviblo.asia%2Fc%2FQ75wMPyNJZW"
                          target="_blank" class="link social-btn-circle google-btn"><i data-v-1b24b101=""
                            data-v-a12f229c="" aria-hidden="true" class="fa fa-google-plus"></i></a>
                      </div>
                      <div data-v-1b24b101="" class="d-flex" style="justify-content: flex-end;">
                        <span data-v-1b24b101="" class="close-share-tip">
                          Close
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="comment-menu ml-05 el-dropdown">
                    <span class="cursor-pointer el-dropdown-selfdefine" data-tippy=""
                      data-original-title="Show more actions" aria-haspopup="list" aria-controls="dropdown-menu-1333"
                      role="button" tabindex="0"><i class=" v-menu-icon--small fas fa-ellipsis-h"></i></span>
                    <ul class="el-dropdown-menu el-popper" id="dropdown-menu-1333" style="display: none;">
                      <li tabindex="-1" class="el-dropdown-menu__item">
                        <i aria-hidden="true" class="fa fa-pencil pr-0 mr-05"></i>
                        Edit
                      </li>
                      <!---->
                      <li tabindex="-1" class="el-dropdown-menu__item">
                        <i aria-hidden="true" class="fa fa-trash pr-0 mr-05"></i>
                        Delete this comment
                      </li>
                      <!---->
                      <li tabindex="-1" class="el-dropdown-menu__item el-dropdown-menu__item--divided">
                        <i class="fa fa-magic pr-0 mr-05"></i>
                        Highlighting code blocks
                      </li>
                    </ul>
                  </div>
                </footer>
                <!---->
                <div class="list-transition">
                  <div data-commentid="yEZkdEWn4lQ" class="comment-thread reply">
                    <header class="d-flex flex-wrap justify-content-between mb-05">
                      <div class="user--inline d-inline-flex flex-shrink-0">
                        <a href="/u/quyctd" class="mr-05">
                          <div class="d-inline-block">
                            <img data-v-fa4ddde2="" src="../../../assets/default.png" class="avatar avatar--xs"
                              srcset="../../../assets/default.png" /></div>
                        </a>
                        <span>
                          <div role="tooltip" id="el-popover-7441" aria-hidden="true" class="el-popover el-popper"
                            tabindex="0" style="width: 350px; display: none;">
                            <!---->
                            <div class="popover-usercard">
                              <div align="center">
                                <i aria-hidden="true" class="el-icon-loading"></i>
                              </div>
                            </div>
                          </div>
                          <a href="/u/quyctd" class="mr-05 el-popover__reference" aria-describedby="el-popover-7441"
                            tabindex="0">
                            Quý Đinh
                          </a>
                        </span>
                        <span class="text-muted mr-05">
                          @quyctd
                        </span>
                      </div>
                      <div class="comment-meta word-break">
                        <span class="text-muted">less than a minute ago</span>
                      </div>
                    </header>
                    <div class="md-contents mb-05">
                      <p>reply of reply second</p>
                    </div>
                    <footer class="d-flex text-muted">
                      <div data-v-887f1afe="" class="score">
                        <button data-v-887f1afe="" class="icon-btn vote disabled" data-tippy=""
                          data-original-title="You cannot vote your own comment">
                          <i data-v-887f1afe="" aria-hidden="true" class="fa fa-chevron-up"></i>
                        </button>
                        <span data-v-887f1afe="" class="comment-points text-muted">
                          0
                        </span>
                        <button data-v-887f1afe="" class="icon-btn vote disabled" data-tippy=""
                          data-original-title="You cannot vote your own comment">
                          <i data-v-887f1afe="" aria-hidden="true" class="fa fa-chevron-down"></i>
                        </button>
                      </div>
                      <span class="text-muted mx-05">|</span>
                      <a class="mr-05 cursor-pointer" data-tippy="" data-original-title="Reply"><span>Reply</span></a>
                      <div data-v-1b24b101="" class="relative mr-05 cursor-pointer">
                        <a data-v-1b24b101="" href="https://viblo.asia/c/yEZkdEWn4lQ"
                          class="icon-share link plain text-muted" data-tippy=""
                          data-original-title="Share a link to this comment"><span data-v-1b24b101="">Share</span></a>
                        <div data-v-1b24b101="" class="share-tip" style="display: none;">
                          <label data-v-1b24b101="" class="tip-label">Share a link to this comment</label>
                          <div data-v-1b24b101="" class="d-flex share-input-group">
                            <input data-v-1b24b101="" data-sharing-id="comment-yEZkdEWn4lQ" type="text"
                              readonly="readonly" class="d-block share-link" />
                            <span data-v-1b24b101="" data-clipboard-text="https://viblo.asia/c/yEZkdEWn4lQ"
                              data-clipboard-target="[data-sharing-id='comment-yEZkdEWn4lQ']" area-label="Copied!"
                              area-tooltip-hidden="true" title="Copy link" class="share-link-addon viblo-tooltip"><i
                                data-v-1b24b101="" class="fa fa-copy"></i></span>
                          </div>
                          <div data-v-a12f229c="" data-v-1b24b101=""
                            class="social-sharing social-sharing-icons social-sharing--vertical social-sharing--small">
                            <a data-v-1b24b101="" data-v-a12f229c=""
                              href="http://www.facebook.com/sharer.php?u=https%3A%2F%2Fviblo.asia%2Fc%2FyEZkdEWn4lQ&amp;title=Comment%20on%20answer"
                              target="_blank" class="link social-btn-circle facebook-btn"><i data-v-1b24b101=""
                                data-v-a12f229c="" aria-hidden="true" class="fa fa-facebook"></i></a>
                            <a data-v-1b24b101="" data-v-a12f229c=""
                              href="https://twitter.com/intent/tweet?url=https://viblo.asia/c/yEZkdEWn4lQ&amp;text=Comment%20on%20answer&amp;hashtags="
                              target="_blank" class="link social-btn-circle twitter-btn"><i data-v-1b24b101=""
                                data-v-a12f229c="" aria-hidden="true" class="fa fa-twitter"></i></a>
                            <a data-v-1b24b101="" data-v-a12f229c=""
                              href="https://plus.google.com/share?url=https%3A%2F%2Fviblo.asia%2Fc%2FyEZkdEWn4lQ"
                              target="_blank" class="link social-btn-circle google-btn"><i data-v-1b24b101=""
                                data-v-a12f229c="" aria-hidden="true" class="fa fa-google-plus"></i></a>
                          </div>
                          <div data-v-1b24b101="" class="d-flex" style="justify-content: flex-end;">
                            <span data-v-1b24b101="" class="close-share-tip">
                              Close
                            </span>
                          </div>
                        </div>
                      </div>
                      <div class="comment-menu ml-05 el-dropdown">
                        <span class="cursor-pointer el-dropdown-selfdefine" data-tippy=""
                          data-original-title="Show more actions" aria-haspopup="list"
                          aria-controls="dropdown-menu-2034" role="button" tabindex="0"><i
                            class=" v-menu-icon--small fas fa-ellipsis-h"></i></span>
                        <ul class="el-dropdown-menu el-popper" id="dropdown-menu-2034" style="display: none;">
                          <li tabindex="-1" class="el-dropdown-menu__item">
                            <i aria-hidden="true" class="fa fa-pencil pr-0 mr-05"></i>
                            Edit
                          </li>
                          <!---->
                          <li tabindex="-1" class="el-dropdown-menu__item">
                            <i aria-hidden="true" class="fa fa-trash pr-0 mr-05"></i>
                            Delete this comment
                          </li>
                          <!---->
                          <li tabindex="-1" class="el-dropdown-menu__item el-dropdown-menu__item--divided">
                            <i class="fa fa-magic pr-0 mr-05"></i>
                            Highlighting code blocks
                          </li>
                        </ul>
                      </div>
                    </footer>
                    <!---->
                    <div class="list-transition"></div>
                    <!---->
                  </div>
                </div>
                <!---->
              </div>
            </div>
            <!---->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>