<!-- Comment section -->
<div class="bg-light">
  <div class="container py-2">
    <div class="post-comments">
      <h3 class="mb-2"><strong>Comments</strong></h3>
      <div class="comment-threads">
        <div class="comment-form root-comment-form">
          <div class="tabs">
            <ul role="tablist" class="tabs__list">
              <li class="tabs__item">
                <div class="tabs__link active">
                  Write
                </div>
              </li>
              <li class="tabs__item">
                <div class="tabs__link">
                  Preview
                </div>
              </li>
            </ul>
            <div class="tabs__content">
              <div role="tabpanel" class="tab-pane">
                <div class="comment-form__write has-avatar">
                  <a href="/u/quyctd" class=""
                    ><img
                      data-v-fa4ddde2=""
                      src="https://cdn.viblo.asia/_nuxt/img/0bca52a.png"
                      class="avatar avatar--md mx-05"
                  /></a>
                  <div
                    class="editor-lite"
                    name="comment_contents"
                    placeholder="Write a response..."
                    rows="1"
                  >
                    <textarea
                      name="comment_contents"
                      placeholder="Write a response..."
                      rows="1"
                      style="overflow-x: hidden; overflow-wrap: break-word; height: 120px;"
                    ></textarea>
                    <div class="editor-lite__extras">
                      <div class="md-help">
                        <button
                          type="button"
                          class="el-button py-05 el-button--text editor-lite__extra-button"
                          tabindex="-1"
                          data-tippy=""
                          data-original-title="Markdown Help"
                        >
                          <i
                            class="fa fa-question-circle text-muted"
                          ></i>
                        </button>
                      </div>
                      <button
                        class="editor-lite__extra-button icon-btn dz-clickable"
                        data-tippy=""
                        data-original-title="Drag image or click to attach"
                      >
                        <i aria-hidden="true" class="fa fa-image"></i>
                      </button>
                      <div class="md-help">
                        <span
                          ><div
                            role="tooltip"
                            id="el-popover-7188"
                            aria-hidden="true"
                            class="el-popover el-popper"
                            tabindex="0"
                            style="display: none;"
                          ></div>
                          <button
                            type="button"
                            class="el-button py-05 el-button--text editor-lite__extra-button el-popover__reference"
                            title="Emoji Suggestion"
                            tabindex="0"
                            aria-describedby="el-popover-7188"
                          >
                            <i
                              class="fa fa-smile-o text-muted"
                            ></i></button
                        ></span>
                      </div>
                    </div>
                    <div
                      class="suggestion-container"
                      style="display: none; top: 0px; left: 0px;"
                    ></div>
                  </div>
                </div>
              </div>
              <div
                role="tabpanel"
                class="tab-pane"
                style="display: none;"
              >
                <div class="text-muted comment-form__preview">
                  Nothing to preview!
                </div>
              </div>
              <div class="comment-form__actions">
                <button
                  disabled="disabled"
                  type="button"
                  class="el-button btn btn-sm btn-primary el-button--primary is-disabled"
                >
                  <span>
                    Post Comment
                  </span>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="card card-block text-sm-center">
          <span class="card-text text-muted mt-05 mb-05"
            ><i aria-hidden="true" class="fa fa-comment-o"></i>
            No comments, yet.
          </span>
        </div>
        <div class="list-transition"></div>
      </div>
    </div>
  </div>
</div>