<div data-commentid="OVlYx3d0VZ8" class="comment-thread reply">
    <header class="d-flex flex-wrap justify-content-between mb-05">
      <div class="user--inline d-inline-flex flex-shrink-0">
        <a href="/u/quyctd" class="mr-05">
          <div class="d-inline-block">
            <img data-v-fa4ddde2="" src="../../../assets/default.png" class="avatar avatar--xs"
              srcset="../../../assets/default.png" /></div>
        </a>
        <span>
          <div role="tooltip" id="el-popover-4693" aria-hidden="true" class="el-popover el-popper"
            tabindex="0" style="width: 350px; display: none;">
            <!---->
            <div class="popover-usercard">
              <div align="center">
                <i aria-hidden="true" class="el-icon-loading"></i>
              </div>
            </div>
          </div>
          <a href="/u/quyctd" class="mr-05 el-popover__reference" aria-describedby="el-popover-4693"
            tabindex="0">
            Quý Đinh
          </a>
        </span>
        <span class="text-muted mr-05">
          @quyctd
        </span>
      </div>
      <div class="comment-meta word-break">
        <span class="text-muted">less than a minute ago</span>
      </div>
    </header>
    <div class="md-contents mb-05">
      <p>reply of reply first</p>
    </div>
    <footer class="d-flex text-muted">
      <div data-v-887f1afe="" class="score">
        <button data-v-887f1afe="" class="icon-btn vote disabled" data-tippy=""
          data-original-title="You cannot vote your own comment">
          <i data-v-887f1afe="" aria-hidden="true" class="fa fa-chevron-up"></i>
        </button>
        <span data-v-887f1afe="" class="comment-points text-muted">
          0
        </span>
        <button data-v-887f1afe="" class="icon-btn vote disabled" data-tippy=""
          data-original-title="You cannot vote your own comment">
          <i data-v-887f1afe="" aria-hidden="true" class="fa fa-chevron-down"></i>
        </button>
      </div>
      <span class="text-muted mx-05">|</span>
      <a class="mr-05 cursor-pointer" data-tippy="" data-original-title="Reply"><span>Reply</span></a>
      <div data-v-1b24b101="" class="relative mr-05 cursor-pointer">
        <a data-v-1b24b101="" href="https://viblo.asia/c/OVlYx3d0VZ8"
          class="icon-share link plain text-muted" data-tippy=""
          data-original-title="Share a link to this comment"><span data-v-1b24b101="">Share</span></a>
        <div data-v-1b24b101="" class="share-tip" style="display: none;">
          <label data-v-1b24b101="" class="tip-label">Share a link to this comment</label>
          <div data-v-1b24b101="" class="d-flex share-input-group">
            <input data-v-1b24b101="" data-sharing-id="comment-OVlYx3d0VZ8" type="text"
              readonly="readonly" class="d-block share-link" />
            <span data-v-1b24b101="" data-clipboard-text="https://viblo.asia/c/OVlYx3d0VZ8"
              data-clipboard-target="[data-sharing-id='comment-OVlYx3d0VZ8']" area-label="Copied!"
              area-tooltip-hidden="true" title="Copy link" class="share-link-addon viblo-tooltip"><i
                data-v-1b24b101="" class="fa fa-copy"></i></span>
          </div>
          <div data-v-a12f229c="" data-v-1b24b101=""
            class="social-sharing social-sharing-icons social-sharing--vertical social-sharing--small">
            <a data-v-1b24b101="" data-v-a12f229c=""
              href="http://www.facebook.com/sharer.php?u=https%3A%2F%2Fviblo.asia%2Fc%2FOVlYx3d0VZ8&amp;title=Comment%20on%20answer"
              target="_blank" class="link social-btn-circle facebook-btn"><i data-v-1b24b101=""
                data-v-a12f229c="" aria-hidden="true" class="fa fa-facebook"></i></a>
            <a data-v-1b24b101="" data-v-a12f229c=""
              href="https://twitter.com/intent/tweet?url=https://viblo.asia/c/OVlYx3d0VZ8&amp;text=Comment%20on%20answer&amp;hashtags="
              target="_blank" class="link social-btn-circle twitter-btn"><i data-v-1b24b101=""
                data-v-a12f229c="" aria-hidden="true" class="fa fa-twitter"></i></a>
            <a data-v-1b24b101="" data-v-a12f229c=""
              href="https://plus.google.com/share?url=https%3A%2F%2Fviblo.asia%2Fc%2FOVlYx3d0VZ8"
              target="_blank" class="link social-btn-circle google-btn"><i data-v-1b24b101=""
                data-v-a12f229c="" aria-hidden="true" class="fa fa-google-plus"></i></a>
          </div>
          <div data-v-1b24b101="" class="d-flex" style="justify-content: flex-end;">
            <span data-v-1b24b101="" class="close-share-tip">
              Close
            </span>
          </div>
        </div>
      </div>
      <div class="comment-menu ml-05 el-dropdown">
        <span class="cursor-pointer el-dropdown-selfdefine" data-tippy=""
          data-original-title="Show more actions" aria-haspopup="list"
          aria-controls="dropdown-menu-2560" role="button" tabindex="0"><i
            class=" v-menu-icon--small fas fa-ellipsis-h"></i></span>
        <ul class="el-dropdown-menu el-popper" id="dropdown-menu-2560" style="display: none;">
          <li tabindex="-1" class="el-dropdown-menu__item">
            <i aria-hidden="true" class="fa fa-pencil pr-0 mr-05"></i>
            Edit
          </li>
          <!---->
          <li tabindex="-1" class="el-dropdown-menu__item">
            <i aria-hidden="true" class="fa fa-trash pr-0 mr-05"></i>
            Delete this comment
          </li>
          <!---->
          <li tabindex="-1" class="el-dropdown-menu__item el-dropdown-menu__item--divided">
            <i class="fa fa-magic pr-0 mr-05"></i>
            Highlighting code blocks
          </li>
        </ul>
      </div>
    </footer>
    
  </div>