<div class="sticky-sidebar">
    <div class="sticky-sidebar__inner" style="width: 255px;">
      <div class="main-feed__sidebar">
        <div class="main-feed__sidebar__posts-feed">
          <div class="section-title"><a href="/newest" class="">
              <h4 class="text-uppercase">
                Newest posts
              </h4>
            </a>
            <hr class="section-title__filler">
          </div>
          <div class="sidebar__feed-item"><a
              href="/p/nhap-mon-lap-trinh-huong-doi-tuong-voi-php-phan-2-RQqKL2O6l7z"
              class="link word-break">
              <h4>Nhập môn lập trình hướng đối tượng với PHP (Phần 2)</h4>
            </a>
            <div class="sidebar__feed-item__info">
              <div class="stats text-nowrap"><span class="stats-item text-muted" data-tippy=""
                  data-original-title="Views: 8"><i aria-hidden="true"
                    class="stats-item__icon fa fa-eye"></i>
                  8
                </span><span class="stats-item text-muted" data-tippy=""
                  data-original-title="Comments: 0"><i aria-hidden="true"
                    class="stats-item__icon fa fa-comment"></i>
                  0
                </span><span class="stats-item text-muted" data-tippy="" data-original-title="Cliped: 0"><i
                    aria-hidden="true" class="stats-item__icon fa fa-paperclip"></i>
                  0
                </span></div>
              <div class="points text-nowrap" data-tippy="" data-original-title="Score">
                <div class="carets"><i aria-hidden="true" class="fa fa-caret-up"></i><i aria-hidden="true"
                    class="fa fa-caret-down"></i></div><span class="text-muted">0</span>
              </div>
            </div>
            <div class="sidebar__feed-item__subtitle"><a href="/u/nguyen.tien.datb"
                class="link link--plain text-muted">
                Nguyễn Tiến Đạt
              </a></div>
          </div>
          <div class="sidebar__feed-item"><a
              href="/p/nhap-mon-lap-trinh-huong-doi-tuong-voi-php-phan-1-aWj534eGK6m"
              class="link word-break">
              <h4>Nhập môn lập trình hướng đối tượng với PHP (Phần 1)</h4>
            </a>
            <div class="sidebar__feed-item__info">
              <div class="stats text-nowrap"><span class="stats-item text-muted" data-tippy=""
                  data-original-title="Views: 42"><i aria-hidden="true"
                    class="stats-item__icon fa fa-eye"></i>
                  42
                </span><span class="stats-item text-muted" data-tippy=""
                  data-original-title="Comments: 0"><i aria-hidden="true"
                    class="stats-item__icon fa fa-comment"></i>
                  0
                </span><span class="stats-item text-muted" data-tippy="" data-original-title="Cliped: 0"><i
                    aria-hidden="true" class="stats-item__icon fa fa-paperclip"></i>
                  0
                </span></div>
              <div class="points text-nowrap" data-tippy="" data-original-title="Score">
                <div class="carets"><i aria-hidden="true" class="fa fa-caret-up"></i><i aria-hidden="true"
                    class="fa fa-caret-down"></i></div><span class="text-muted">0</span>
              </div>
            </div>
            <div class="sidebar__feed-item__subtitle"><a href="/u/nguyen.tien.datb"
                class="link link--plain text-muted">
                Nguyễn Tiến Đạt
              </a></div>
          </div>
          <div class="sidebar__feed-item"><a
              href="/p/suc-manh-tiem-an-cua-pointer-events-ma-co-the-ban-chua-biet-Qbq5QkpmZD8"
              class="link word-break">
              <h4>Sức mạnh tiềm ẩn của pointer-events mà có thể bạn chưa biết</h4>
            </a>
            <div class="sidebar__feed-item__info">
              <div class="stats text-nowrap"><span class="stats-item text-muted" data-tippy=""
                  data-original-title="Views: 78"><i aria-hidden="true"
                    class="stats-item__icon fa fa-eye"></i>
                  78
                </span><span class="stats-item text-muted" data-tippy=""
                  data-original-title="Comments: 0"><i aria-hidden="true"
                    class="stats-item__icon fa fa-comment"></i>
                  0
                </span><span class="stats-item text-muted" data-tippy="" data-original-title="Cliped: 3"><i
                    aria-hidden="true" class="stats-item__icon fa fa-paperclip"></i>
                  3
                </span></div>
              <div class="points text-nowrap" data-tippy="" data-original-title="Score">
                <div class="carets"><i aria-hidden="true" class="fa fa-caret-up"></i><i aria-hidden="true"
                    class="fa fa-caret-down"></i></div><span class="text-muted">8</span>
              </div>
            </div>
            <div class="sidebar__feed-item__subtitle"><a href="/u/hunghoangvan"
                class="link link--plain text-muted">
                Hoang Van Hung
              </a></div>
          </div>
          <div class="sidebar__feed-item"><a href="/p/unowned-va-weak-oOVlYwpoK8W" class="link word-break">
              <h4>Unowned và Weak</h4>
            </a>
            <div class="sidebar__feed-item__info">
              <div class="stats text-nowrap"><span class="stats-item text-muted" data-tippy=""
                  data-original-title="Views: 25"><i aria-hidden="true"
                    class="stats-item__icon fa fa-eye"></i>
                  25
                </span><span class="stats-item text-muted" data-tippy=""
                  data-original-title="Comments: 0"><i aria-hidden="true"
                    class="stats-item__icon fa fa-comment"></i>
                  0
                </span><span class="stats-item text-muted" data-tippy="" data-original-title="Cliped: 0"><i
                    aria-hidden="true" class="stats-item__icon fa fa-paperclip"></i>
                  0
                </span></div>
              <div class="points text-nowrap" data-tippy="" data-original-title="Score">
                <div class="carets"><i aria-hidden="true" class="fa fa-caret-up"></i><i aria-hidden="true"
                    class="fa fa-caret-down"></i></div><span class="text-muted">1</span>
              </div>
            </div>
            <div class="sidebar__feed-item__subtitle"><a href="/u/framgia-nguyenkdm"
                class="link link--plain text-muted">
                Khuc Dinh Minh Nguyen
              </a></div>
          </div>
          <div class="sidebar__feed-item"><a
              href="/p/crud-tao-ung-dung-java-restful-client-voi-jersey-client-2x-ByEZkwGxZQ0"
              class="link word-break">
              <h4>CRUD - Tạo ứng dụng Java RESTful Client với Jersey Client 2.x</h4>
            </a>
            <div class="sidebar__feed-item__info">
              <div class="stats text-nowrap"><span class="stats-item text-muted" data-tippy=""
                  data-original-title="Views: 35"><i aria-hidden="true"
                    class="stats-item__icon fa fa-eye"></i>
                  35
                </span><span class="stats-item text-muted" data-tippy=""
                  data-original-title="Comments: 0"><i aria-hidden="true"
                    class="stats-item__icon fa fa-comment"></i>
                  0
                </span><span class="stats-item text-muted" data-tippy="" data-original-title="Cliped: 0"><i
                    aria-hidden="true" class="stats-item__icon fa fa-paperclip"></i>
                  0
                </span></div>
              <div class="points text-nowrap" data-tippy="" data-original-title="Score">
                <div class="carets"><i aria-hidden="true" class="fa fa-caret-up"></i><i aria-hidden="true"
                    class="fa fa-caret-down"></i></div><span class="text-muted">0</span>
              </div>
            </div>
            <div class="sidebar__feed-item__subtitle"><a href="/u/ptgiang56"
                class="link link--plain text-muted">
                Giang Phan
              </a></div>
          </div>
        </div>
        <div class="main-feed__sidebar__top-authors mb-4">
          <div class="section-title"><a href="/authors" class="">
              <h4 class="text-uppercase">
                Top authors
              </h4>
            </a>
            <hr class="section-title__filler">
          </div>
          <div class="user-list-container">
            <div class="user-container">
              <div class="sidebar__user">
                <div class="sidebar__user__row"><a href="/u/thangtd90" class="">
                    <div class="d-inline-block"></div>
                  </a>
                  <div class="d-flex flex-column justify-content-center"><a href="/u/thangtd90" class="">
                      Thang Tran Duc
                    </a> <span class="d-block">@thangtd90</span></div>
                </div>
                <div class="sidebar__user__row">
                  <div class="user-action">
                    <div class="subscribe"><button class="btn btn-follow btn-full-width btn-small-padding">
                        Follow
                      </button></div>
                  </div>
                  <div class="stats text-nowrap"><span class="stats-item text-muted" data-tippy=""
                      data-original-title="Reputations: 9326"><i aria-hidden="true"
                        class="stats-item__icon fa fa-star"></i>
                      9.3K
                    </span><span class="stats-item text-muted" data-tippy=""
                      data-original-title="Followers: 667"><i aria-hidden="true"
                        class="stats-item__icon fa fa-user-plus"></i>
                      667
                    </span><span class="stats-item text-muted" data-tippy=""
                      data-original-title="Questions: 0"><i aria-hidden="true"
                        class="stats-item__icon fa fa-question"></i>
                      0
                    </span><span class="stats-item text-muted" data-tippy=""
                      data-original-title="Answers: 131"><i aria-hidden="true"
                        class="stats-item__icon fa fa-reply"></i>
                      131
                    </span></div>
                </div>
              </div>
            </div>
            <div class="user-container">
              <div class="sidebar__user">
                <div class="sidebar__user__row"><a href="/u/huukimit" class="">
                    <div class="d-inline-block"></div>
                  </a>
                  <div class="d-flex flex-column justify-content-center"><a href="/u/huukimit" class="">
                      Nguyễn Hữu Kim
                    </a> <span class="d-block">@huukimit</span></div>
                </div>
                <div class="sidebar__user__row">
                  <div class="user-action">
                    <div class="subscribe"><button class="btn btn-follow btn-full-width btn-small-padding">
                        Follow
                      </button></div>
                  </div>
                  <div class="stats text-nowrap"><span class="stats-item text-muted" data-tippy=""
                      data-original-title="Reputations: 1896"><i aria-hidden="true"
                        class="stats-item__icon fa fa-star"></i>
                      1.8K
                    </span><span class="stats-item text-muted" data-tippy=""
                      data-original-title="Followers: 72"><i aria-hidden="true"
                        class="stats-item__icon fa fa-user-plus"></i>
                      72
                    </span><span class="stats-item text-muted" data-tippy=""
                      data-original-title="Questions: 5"><i aria-hidden="true"
                        class="stats-item__icon fa fa-question"></i>
                      5
                    </span><span class="stats-item text-muted" data-tippy=""
                      data-original-title="Answers: 90"><i aria-hidden="true"
                        class="stats-item__icon fa fa-reply"></i>
                      90
                    </span></div>
                </div>
              </div>
            </div>
            <div class="user-container">
              <div class="sidebar__user">
                <div class="sidebar__user__row"><a href="/u/kiendinang" class="">
                    <div class="d-inline-block"></div>
                  </a>
                  <div class="d-flex flex-column justify-content-center"><a href="/u/kiendinang" class="">
                      Do Trung Kien
                    </a> <span class="d-block">@kiendinang</span></div>
                </div>
                <div class="sidebar__user__row">
                  <div class="user-action">
                    <div class="subscribe"><button class="btn btn-follow btn-full-width btn-small-padding">
                        Follow
                      </button></div>
                  </div>
                  <div class="stats text-nowrap"><span class="stats-item text-muted" data-tippy=""
                      data-original-title="Reputations: 3043"><i aria-hidden="true"
                        class="stats-item__icon fa fa-star"></i>
                      3.0K
                    </span><span class="stats-item text-muted" data-tippy=""
                      data-original-title="Followers: 178"><i aria-hidden="true"
                        class="stats-item__icon fa fa-user-plus"></i>
                      178
                    </span><span class="stats-item text-muted" data-tippy=""
                      data-original-title="Questions: 0"><i aria-hidden="true"
                        class="stats-item__icon fa fa-question"></i>
                      0
                    </span><span class="stats-item text-muted" data-tippy=""
                      data-original-title="Answers: 18"><i aria-hidden="true"
                        class="stats-item__icon fa fa-reply"></i>
                      18
                    </span></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div dir="ltr" class="resize-sensor"
        style="pointer-events: none; position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; z-index: -1; visibility: hidden; max-width: 100%;">
        <div class="resize-sensor-expand"
          style="pointer-events: none; position: absolute; left: 0px; top: 0px; right: 0; bottom: 0; overflow: hidden; z-index: -1; visibility: hidden; max-width: 100%;">
          <div
            style="position: absolute; left: 0px; top: 0px; transition: all 0s ease 0s; width: 265px; height: 960px;">
          </div>
        </div>
        <div class="resize-sensor-shrink"
          style="pointer-events: none; position: absolute; left: 0px; top: 0px; right: 0; bottom: 0; overflow: hidden; z-index: -1; visibility: hidden; max-width: 100%;">
          <div style="position: absolute; left: 0; top: 0; transition: 0s; width: 200%; height: 200%"></div>
        </div>
      </div>
    </div>
  </div>