<footer class="footer bg-dark">
  <div class="container pt-2">
    <div class="row">
      <div class="mb-1 mb-md-0 col-md-4">
        <h4 class="footer__header">
          Resources
        </h4>
        <ul class="list-unstyled footer__links resources">
          <li>
            <a href="/" class="link active">
              Posts
            </a>
          </li>
          <li>
            <a href="/organizations" class="link">
              Organizations
            </a>
          </li>
          <li>
            <a href="/questions" class="link">
              Questions
            </a>
          </li>
          <li>
            <a href="/tags" class="link">
              Tags
            </a>
          </li>
          <li>
            <a href="/videos" class="link">
              Videos
            </a>
          </li>
          <li>
            <a href="/authors" class="link">
              Authors
            </a>
          </li>
          <li>
            <a href="/discussion" class="link">
              Discussions
            </a>
          </li>
          <li>
            <a href="/login" class="link">
              Recommend System
            </a>
          </li>
          <li>
            <a href="/tools" target="_blank" class="link">Tools</a>
          </li>
          <li>
            <a href="https://machine-learning.viblo.asia/" target="_blank" class="link">Machine Learning</a>
          </li>
        </ul>
      </div>
      <div class="mb-1 mb-md-0 col-md-3 offset-xl-1">
        <h4 class="footer__header">
          Links
        </h4>
        <ul class="list-unstyled footer__links">
          <li class="footer__links__external-link">
            <a href="https://www.facebook.com/viblo.asia/" target="_blank" class="link"><i
                class="fa fa-facebook link-icon"></i>Facebook
            </a>
          </li>
          <li class="footer__links__external-link">
            <a href="https://github.com/viblo-asia/" target="_blank" class="link"><i
                class="fa fa-github link-icon"></i>GitHub
            </a>
          </li>
          <li class="footer__links__external-link">
            <a href="https://chrome.google.com/webstore/detail/viblos-news-feed/mliahmjgdpkkicelofhbhgiidgljijmj"
              target="_blank" class="link"><i class="fa fa-chrome link-icon"></i>Browser extension
            </a>
          </li>
          <li class="footer__links__external-link">
            <a href="https://atom.io/packages/viblo" target="_blank" class="link"><img
                src="https://cdn.viblo.asia/_nuxt/img/758b87a.svg" class="link-icon" />Atom plugin
            </a>
          </li>
        </ul>
      </div>
      <div class="mb-1 mb-md-0 col-md-3 offset-md-1">
        <h4 class="footer__header">
          Mobile App
        </h4>
        <div class="d-flex mobile-app-badges">
          <div class="d-flex flex-md-column justify-content-between flex-wrap">
            <a href="https://play.google.com/store/apps/details?id=com.framgia.viblo.android.prod"
              target="_blank" class="d-block"><img alt="Get it on Google Play"
                src="https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png"
                class="play-store-badge" /></a>
            <a href="https://itunes.apple.com/us/app/viblo/id1365286437" target="_blank" class="d-block"><img
                alt="Download on the App Store" src="https://cdn.viblo.asia/_nuxt/img/2928664.svg"
                class="app-store-badge" /></a>
          </div>
          <img
            src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAHwAAAB8CAIAAAAkfEPpAAACEklEQVR42u3aUY6DMAwFQO5/6e4JKhXF7yUL488KBZhEcm1zfUQ9LgTQoYsC+hWIb+t/faCb19x9hp9Q0g7QoUOHXkZfShRDL/wLxMp9p9a5vT506NChb0RPJ8yVNaeSc9MBOnTo0N+CvgKdKI6gQ4cOHfoMysrzJBpz0KFDh/4E9EQimmqcJYqmR3UZoUOHDn1jgjrt98d+DQAdOvTHozcjsZGJxlzk3aFDhw69jN5Mqol10odjrDiCDh069DL6yjXpYfTUvarFIHTo0KEX0KcGAlMD6MSgIz0Qv10cQYcOHXoBfaphlG5UNRPs2AGFDh069I3oTaxE46xZfI19DQAdOnTog+iJwmQlwSaKo+ahgQ4dOvTT0acKimaynTpMS4cAOnTo0AvozRdrbmT6cNz+EwEdOnToG9F3DSjSSb45DIEOHTr0NnpiEJwoRtKIiaEKdOjQoZ+Inn7QxMZMDVjGng06dOjQD0FPFDVTiTqNODU0hw4dOvRT0CMNoOKHPitF1timQocOHXoBPR1TELuG6ZGGF3To0KEXvk+fiubQ+YRCb+nfC3To0KGH0BMJMz3QmDociQIQOnTo0E9BTyfM9NAg0fBa2jzo0KFDfxj6rmsSGwkdOnTob0dPI6Ybdo8qjqBDh/4q9PRgYaqQSQ/QoUOHDv2/oqcbQFPJNp14E4cJOnTo0BvoohPQoUMXofgD+J8kMHoXlkcAAAAASUVORK5CYII="
            class="qr hidden-md-down" />
        </div>
      </div>
    </div>
    <hr class="footer__divider" />
    <div class="row py-1">
      <div class="col-md-9">
        <p class="copyright">
          © 2019 <b>Viblo</b>. All rights reserved.
        </p>
      </div>
      <div class="col-md-3">
        <ul class="list-unstyled d-md-flex justify-content-md-between">
          <li class="mb-05">
            <a href="/feedback" class="link">Feedback</a>
          </li>
          <li class="mb-05">
            <a href="/helps" class="link">
              Help
            </a>
          </li>
          <li class="mb-05">
            <a href="/faq" class="link">
              FAQs
            </a>
          </li>
          <li class="mb-05">
            <a href="/rss" target="_blank" class="link">RSS</a>
          </li>
          <li class="mb-05">
            <a href="/terms" class="link">
              Terms
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!---->
</footer>