<div class="main-feed__sidebar__top-organizations mb-4">
  <div class="section-title">
    <h4 class="text-uppercase">
      Suggested Organizations
    </h4>
    <hr class="section-title__filler" />
  </div>
  <div class="user-list-container">
    <div class="organization-container">
      <div
        class="sidebar__organization"
        stats="posts,members,followers"
      >
        <div class="sidebar__organization__row">
          <a
            href="/o/awesome-ars-academia-cebu"
            class="d-flex"
            ><img
              data-v-fa4ddde2=""
              src="../../../assets/orgnization.png"
              srcset="../../../assets/orgnization.png"
              class="avatar avatar--xl avatar--rect avatar--ognzt"
          /></a>
          <div
            class="d-flex flex-column justify-content-center"
          >
            <a
              href="/o/awesome-ars-academia-cebu"
              class="word-break"
            >
              Sun* Cebu Branch / Awesome Ars Academia Cebu
            </a>
            <div class="stats text-nowrap">
              <span
                class="stats-item text-muted"
                data-tippy=""
                data-original-title="Posts: 13"
                ><i
                  aria-hidden="true"
                  class="stats-item__icon fa fa-pencil"
                ></i>
                13 </span
              ><span
                class="stats-item text-muted"
                data-tippy=""
                data-original-title="Members: 20"
                ><i
                  aria-hidden="true"
                  class="stats-item__icon fa fa-users"
                ></i>
                20 </span
              ><span
                class="stats-item text-muted"
                data-tippy=""
                data-original-title="Followers: 38"
                ><i
                  aria-hidden="true"
                  class="stats-item__icon fa fa-user-plus"
                ></i>
                38
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="organization-container">
      <div
        class="sidebar__organization"
        stats="posts,members,followers"
      >
        <div class="sidebar__organization__row">
          <a href="/o/mino" class="d-flex"
            ><img
              data-v-fa4ddde2=""
              src="../../../assets/orgnization2.png"
              srcset="../../../assets/orgnization2.png"
              class="avatar avatar--xl avatar--rect avatar--ognzt"
          /></a>
          <div
            class="d-flex flex-column justify-content-center"
          >
            <a href="/o/mino" class="word-break">
              Mino
            </a>
            <div class="stats text-nowrap">
              <span
                class="stats-item text-muted"
                data-tippy=""
                data-original-title="Posts: 2"
                ><i
                  aria-hidden="true"
                  class="stats-item__icon fa fa-pencil"
                ></i>
                2 </span
              ><span
                class="stats-item text-muted"
                data-tippy=""
                data-original-title="Members: 2"
                ><i
                  aria-hidden="true"
                  class="stats-item__icon fa fa-users"
                ></i>
                2 </span
              ><span
                class="stats-item text-muted"
                data-tippy=""
                data-original-title="Followers: 6"
                ><i
                  aria-hidden="true"
                  class="stats-item__icon fa fa-user-plus"
                ></i>
                6
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="organization-container">
      <div
        class="sidebar__organization"
        stats="posts,members,followers"
      >
        <div class="sidebar__organization__row">
          <a href="/o/viblo" class="d-flex"
            ><img
              data-v-fa4ddde2=""
              src="../../../assets/orgnization3.png"
              srcset="../../../assets/orgnization3.png"
              class="avatar avatar--xl avatar--rect avatar--ognzt"
          /></a>
          <div
            class="d-flex flex-column justify-content-center"
          >
            <a href="/o/viblo" class="word-break">
              Viblo
            </a>
            <div class="stats text-nowrap">
              <span
                class="stats-item text-muted"
                data-tippy=""
                data-original-title="Posts: 1"
                ><i
                  aria-hidden="true"
                  class="stats-item__icon fa fa-pencil"
                ></i>
                1 </span
              ><span
                class="stats-item text-muted"
                data-tippy=""
                data-original-title="Members: 11"
                ><i
                  aria-hidden="true"
                  class="stats-item__icon fa fa-users"
                ></i>
                11 </span
              ><span
                class="stats-item text-muted"
                data-tippy=""
                data-original-title="Followers: 33"
                ><i
                  aria-hidden="true"
                  class="stats-item__icon fa fa-user-plus"
                ></i>
                33
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>