<div id="__layout">
  <div id="app-container" class="dark">
    <app-navbar class="sticky-top"></app-navbar>
    <div id="main-content">
        <div class="container" data-v-48b4216a="">
          <div class="panel" data-v-48b4216a="">
            <div class="panel-heading" data-v-48b4216a="">
              <a href="/" class="logo active" data-v-48b4216a="">
                Viblo
              </a>
              IS ENCOUNTERING SOME PROBLEMS.
            </div>
            <div class="panel-body" data-v-48b4216a="">
              <div class="title" data-v-48b4216a="">
                404 - Not Found.
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
  
  <app-footer></app-footer>
</div>
