<div class="p-0 hidden-md-down col-lg-1">
  <div class="post-actions d-flex flex-column align-items-center mx-auto">
    <div class="votes votes--side post-actions__vote mb-1">
      <button [ngClass]="{'icon-btn': true, 'vote': true, 'voted': isUpVote}" data-tippy="" (click)="toggleUpvote()" [attr.data-original-title]="upVoteText">
        <i aria-hidden="true" class="fa fa-caret-up"></i>
      </button>
      <div [ngClass]="{'points': true, 'text-muted': !isVote, 'text-primary': isVote, 'text-bold': isVote}">
        {{voteString}}
      </div>
      <button [ngClass]="{'icon-btn': true, 'vote': true, 'voted': isDownVote}" data-tippy="" (click)="toggleDownvote()" [attr.data-original-title]="downVoteText">
        <i aria-hidden="true" class="fa fa-caret-down"></i>
      </button>
    </div>
    <div data-v-7647d65c="" class="subscribe mb-2">
      <button data-v-7647d65c="" type="button" (click)="toggleClipPost()" [ngClass]="{'el-button':true, 'post-actions__clip':true, 'el-button--default':true, 'clipped': isClip}" data-tippy=""
        data-original-title="Clip this post">
        <i class="fa fa-paperclip"></i>
      </button>
    </div>
    <div data-v-a12f229c="" class="social-sharing mb-2 social-sharing--horizontal social-sharing--small">
      <a data-v-a12f229c="" tooltip-placement="right"
        href="http://www.facebook.com/sharer.php?u=https%3A%2F%2Fviblo.asia%2Fp%2Fthis-is-first-post-E375zgRRKGW&amp;title=this%20is%20first%20post"
        target="_blank" class="link link--muted" data-tippy=""
        data-original-title="Share a link to this page on Facebook"><i data-v-a12f229c="" aria-hidden="true"
          class="fa fa-facebook"></i></a>
      <a data-v-a12f229c="" tooltip-placement="right"
        href="https://twitter.com/intent/tweet?url=https://viblo.asia/p/this-is-first-post-E375zgRRKGW&amp;text=this%20is%20first%20post&amp;hashtags=hh%2CDjango%2CWeb"
        target="_blank" class="link link--muted" data-tippy=""
        data-original-title="Share a link to this page on Twitter"><i data-v-a12f229c="" aria-hidden="true"
          class="fa fa-twitter"></i></a>
    </div>
  </div>
</div>