<header class="main-navbar main-navbar__group py-1">
  <div class="main-navbar__container container px-md-0">
    <div class="main-navbar__left">
      <a routerLink="/newest" class="main-navbar__logo d-block mr-lg-5 nuxt-link-exact-active active"><img
          src="https://cdn.viblo.asia/_nuxt/img/fbfe575.svg" alt="Viblo" /></a>
      <ul class="main-menu list-unstyled hidden-md-down">
        <li class="main-menu__item">
          <a routerLink="/newest" class="link nuxt-link-exact-active active">
            Posts
          </a>
        </li>
        <li class="main-menu__item">
          <a routerLink="/questions" class="link">
            <div class="el-badge badge-has-new">
              Questions
              <sup class="el-badge__content el-badge__content--undefined is-fixed" style="display:none;"></sup>
            </div>
          </a>
        </li>
        <li class="main-menu__item">
          <a routerLink="/discussion" class="link">
            Discussions
          </a>
        </li>
      </ul>
    </div>
    <div class="main-navbar__right">
      <a routerLink="/search" class="link text-muted hidden-md-up mr-1"><i aria-hidden="true" class="fa fa-search"></i></a>
      <div class="sb hidden-sm-down flex-fill mr-1">
        <input placeholder="Search Viblo" value="" class="sb__input" />
        <button class="btn btn-primary">
          <i class="fa fa-search"></i>
        </button>
        <i aria-hidden="true" class="fa fa-circle-o-notch fa-spin sb-icon" style="display:none;"></i>
        <i aria-hidden="true" class="fa fa-times sb-icon clr text-muted" style="display:none;"></i>
        <div class="sb__suggestions" style="display:none;">
          <div></div>
        </div>
      </div>
      <div class="main-navbar__group">
        <span class="flyout announcement-flyout mr-1">
          <div role="tooltip" id="el-popover-7899" aria-hidden="true" class="el-popover el-popper flyout__popper"
            style="width:undefinedpx;display:none;">
            <div class="flyout__header">
              <div class="d-flex align-items-center justify-content-between">
                <span class="text-dark">Announcements</span>
              </div>
            </div>
            <div class="flyout__body">
              <div class="flyout__scroll el-scrollbar">
                <div class="flyout__scroll-wrap el-scrollbar__wrap el-scrollbar__wrap--hidden-default">
                  <div class="el-scrollbar__view">
                    <div class="py-05 text-center">
                      <span><i aria-hidden="true" class="fa fa-times"></i>
                        No announcement yet.
                      </span>
                    </div>
                  </div>
                </div>
                <div class="el-scrollbar__bar is-horizontal">
                  <div class="el-scrollbar__thumb"
                    style="width:0;transform:translateX(0%);ms-transform:translateX(0%);webkit-transform:translateX(0%);">
                  </div>
                </div>
                <div class="el-scrollbar__bar is-vertical">
                  <div class="el-scrollbar__thumb"
                    style="height:0;transform:translateY(0%);ms-transform:translateY(0%);webkit-transform:translateY(0%);">
                  </div>
                </div>
              </div>
            </div>
            <div class="flyout__footer">
              <div class="text-right">
                <a routerLink="/announcements" class="announcement-flyout__all">
                  All Announcements
                </a>
              </div>
            </div>
          </div>
          <div class="el-badge">
            <button type="button" class="el-button text-muted el-button--text">
              <i class="fa fa-info"></i>
            </button>
          </div>
        </span>
      </div>
      <div *ngIf="!currentToken" class="main-navbar__group">
        <button type="button" class="el-button el-button--text" (click)="btnSignin()">
          <i class="fa fa-sign-in"></i><span>
            Sign In/Sign up
          </span>
        </button>
      </div>

      <div *ngIf="currentToken" class="main-navbar__group">
        <div class="mr-1 el-dropdown">
          <button type="button" class="el-button text-muted py-0 el-button--text el-dropdown-selfdefine"
            style="font-size:1.2rem;" data-tippy="" data-original-title="Write" aria-haspopup="list"
            aria-controls="dropdown-menu-1056" role="button" tabindex="0" (click)="togglePostIcon($event)">
            <i class="far fa-edit"></i>
          </button>

          <ul class="el-dropdown-menu el-popper publish-dropdown el-dropdown-menu--wide el-dropdown-menu--medium"
            [ngClass]="{
              'el-dropdown-menu': true,
              'el-popper': true,
              'publish-dropdown': true,
              'el-dropdown-menu--wide': true,
              'el-dropdown-menu--medium': true,
              'post_menu_show' : postDropDown
            }"
            id="dropdown-menu-1056"
            style="display: none;"
            x-placement="bottom-end">
            <li tabindex="-1" class="el-dropdown-menu__item">
              <a routerLink="/publish/post/" class="link link--plain"><i class="fa fa-pencil mr-05"></i> Write post
              </a>
            </li>
            <li tabindex="-1" class="el-dropdown-menu__item el-dropdown-menu__item--divided">
              <a routerLink="/publish/series" class="link link--plain"><i class="fa fa-list-ul mr-05"></i> New series
              </a>
            </li>
            <li tabindex="-1" class="el-dropdown-menu__item el-dropdown-menu__item--divided">
              <a routerLink="/questions/ask" class="link link--plain"><i class="fa fa-question-circle mr-05"></i> Ask question
              </a>
            </li>
            <!---->
            <div x-arrow="" class="popper__arrow" style="left: 129px;"></div>
          </ul>
        </div>
        <div>
          <span>
            <div role="tooltip" id="el-popover-2686" aria-hidden="false" tabindex="0"
              class="el-popover el-popper user-menu__popper border" [ngClass]="{
                'el-popover': true,
                'el-popper': true,
                'user-menu__popper': true,
                border: true,
                user_menu_show: userDropDown,
                user_menu_hide: !userDropDown
              }" style="display: none;" x-placement="bottom-end">
              <!---->
              <div class="user-menu__top d-flex justify-content-between">
                <img src="https://cdn.viblo.asia/_nuxt/img/0bca52a.png" class="avatar rounded-circle"
                  style="height: 70px; width: 70px;" />
                <div class="flex-fill overflow-hidden">
                  <div class="user-menu__info">
                    <div class="text-primary font-weight-bold text-truncate">
                      {{ currentUser.name }}
                    </div>
                    <div class="text-muted text-truncate">
                      @{{ currentUser.username }}
                    </div>
                  </div>
                  <a routerLink="https://accounts.viblo.asia" target="_blank"><button type="button"
                      class="el-button user-menu__edit-btn el-button--primary el-button--medium">
                      <!---->
                      <!----><span>
                        Edit
                      </span>
                    </button></a>
                </div>
              </div>
              <hr />
              <div class="user-menu__menu-item">
                <a routerLink="/u/quyctd" class="link link--plain"><i class="fa fa-file-text-o"></i> My contents
                </a>
              </div>
              <div class="user-menu__menu-item">
                <a routerLink="/settings/organizations" class="link link--plain"><i class="fa fa-building"></i> Organizations
                </a>
              </div>
              <div class="user-menu__menu-item">
                <a routerLink="/settings/appearances" class="link link--plain"><i class="fa fa-cog"></i> Preferences
                </a>
              </div>
              <!---->
              <hr />
              <div class="user-menu__menu-item">
                <a routerLink="/logout"><i class="fa fa-sign-out-alt"></i> Sign out
                </a>
              </div>
              <div x-arrow="" class="popper__arrow" style="left: 224px;"></div>
            </div>
            <img src="https://cdn.viblo.asia/_nuxt/img/0bca52a.png"
              class="avatar avatar--md rounded-circle el-popover__reference" aria-describedby="el-popover-2686"
              tabindex="0" (click)="toggleUserIcon($event)" />
          </span>
        </div>
      </div>
    </div>
  </div>
</header>
